[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyjwt = "*"
aiounittest = "*"
jsons = "*"
pyyaml = "*"
gunicorn = "*"
black = "*"
pulumi = "*"
sse-starlette = "*"
boto3 = "*"
moto = "*"
pynamodb = "*"
pydantic-yaml = "*"
prettytable = "*"
aiomultiprocess = "*"
watchdog = "*"
asyncclick = "*"
rudder-sdk-python = "*"

[dev-packages]
black = "*"
pre-commit = "*"
coverage = "*"
moto = "*"
asyncclick = "*"
aiohttp = "*"

[requires]
python_version = "3.11"
